.maincontainer-navbar{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-navbar{
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
   

}
.style{
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
    
}
.decoration{
    text-decoration: none;
}