.mainbox{
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(5, 157, 157);

}
.subbox{
    width: 450px;
    height: 140px;
    background-color: rgb(22, 144, 144);


}
.box1{
    width: 450px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
.district{
    width: 225px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 144, 144);
    color: aliceblue;
}
.value{
    width: 225px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 144, 144);
}
.box2{
    width: 450px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 144, 144);
}
